@mixin container {
    max-width: 1230px;
    margin: 0 auto;
    width: min(1230px, calc(100% - 32px));
    padding-inline: 0;
    box-sizing: border-box;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin responsive-font($min-size, $max-size, $min-width: 320px, $max-width: 1920px) {
    font-size: clamp(#{$min-size}, #{$min-size} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}) / (#{$max-width} - #{$min-width})), #{$max-size});
}

